<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>HL7 Message Search</title>
   <link rel="stylesheet" href="stylesheets/jquery-ui.css">
   <link rel="stylesheet" href="stylesheets/style.css">
   <script src="javascripts/jquery-3.2.1.min.js"></script>
   <script src="javascripts/jquery-ui-1.12.1.js"></script>
   <script>
      var srcAdapter = /[A-Z0-9]*_.*SOURCE/, region = /REGION\/([A-Z0-9]*)\//, dstAdapter = /[A-Z0-9]*_.*DEST/;
      var sources = [], destinations = [];
      var srcArr = "<%= script.regionSrcList() %>".split(',');
      var dstArr = "<%= script.regionDstList() %>".split(',');
      srcArr.forEach( (val) => {
         if (region.test(val) && srcAdapter.test(val)){
            sources.push({ label: srcAdapter.exec(val)[0], category: region.exec(val)[1] });
         }
      });
      dstArr.forEach( (val) => {
         if (region.test(val) && dstAdapter.test(val)){
            destinations.push({ label: dstAdapter.exec(val)[0], category: region.exec(val)[1] });
         }
      });
   </script>
   <script>
   $( function() {
     $.widget( "custom.catcomplete", $.ui.autocomplete, {
       _create: function() {
         this._super();
         this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
       },
       _renderMenu: function( ul, items ) {
         var that = this,
           currentCategory = "";
         $.each( items, function( index, item ) {
           var li;
           if ( item.category != currentCategory ) {
             ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
             currentCategory = item.category;
           }
           li = that._renderItemData( ul, item );
           if ( item.category ) {
             li.attr( "aria-label", item.category + " : " + item.label );
           }
         });
       }
     });

      $( "#source" ).catcomplete({
         delay: 0,
         source: sources
      });
      $( "#dest" ).catcomplete({
         delay: 0,
         source: destinations
      });
   } );
   </script>
</head>

<body>
   
   <h2>Find Correlating Messages in Logs</h2>
   <form method="post" action="/">
      <select id="server_select" name="Server">
         <option value="UAT">UAT Server</option>
         <option value="Stage4">Staging 4</option>
         <option value="Stage5">Staging 5</option>
         <option value="Stage6">Staging 6</option>
      </select>
      <div class="credentials">
         <span class="cred_label">User ID</span>
         <input class="cred_input" type="text" name="UserId" maxLength="30" />
         <span class="cred_label">Password</span>
         <input class="cred_input" type="password" name="Password" maxLength="40" />
      </div>
      <br/>
 
      <label for="src">Source Adapter</label>
      <label for="dest">Destination Adapter</label>
      <label for="ref">Search For</label><br/>
      <input id="source" class="search-form" name="Source" maxLength="20" value="<%= content.params.Source %>" style="<%= content.borderSource %>" />
      <input id="dest" class="search-form" name="Dest" maxLength="20" value="<%= content.params.Dest %>" />
      <input class="search-form" name="Pattern" maxLength="30" value="<%= content.params.Pattern %>" style="<%= content.borderPattern %>" />
      <br/>
      <label class="dateLabel">Start Date</label>
         <input class="dates search" type="date" id="startDate" name="Start" value="<%= content.params.Start || util.today() %>" />
      <label class="dateLabel">End Date</label>
         <input class="dates search" type="date" id="endDate" name="End" value="<%= content.params.End || util.today() %>" />
      <br/><br/>
      <input type="submit" value="Submit" /></form><br/>
      <br/>
   </form><br/>

   <div class=<%= content.totalDisplay %>>
      <span>Total Source Matches: </span><span id="srcCount"><%= content.srcTotal %></span><br/>
      <span>Total Destination Correlations: </span><span id="dstCount"><%= content.dstTotal %></span>
   </div>
   
   <pre style="<%= content.msgDisplay %>">

</body>
<script>
   $('#server_select').on('change', function(){
      var serverCheck = $(this).val(),
          cred = $('.credentials');
      if (serverCheck !== 'UAT'){
         cred.css('visibility', 'visible');
      } else {
         cred.css('visibility', 'hidden') 
      }
   });
</script>
</html>
